:root {
  --color-primary: #2563eb;
  --color-primary-hover: #1e40af;
  --color-secondary: #6b7280;
  --color-bg: #f9fafb;
  --color-text: #111827;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2.5rem;

  --redius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --font-size-sm: 0.875rem; 
  --font-size-base: 1rem; 
  --font-size-lg: 1.25rem; 
  --font-size-xl: 1.5rem; 

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}